body{
    background: linear-gradient(to right, #780206, #061161)
	}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.main-nav{
    float: right;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin : 15px;
    margin-top: 30px;
    padding: 2px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    font-family: 'Girassol', cursive;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    transition: border-bottom 0.2s;
    padding:    5px 0px;
    
}
 

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

.custom-select{
    width: 200px;
}

ion-icon{
    font-size: 30px;
}

.instagram ion-icon{
    color: #6F1E51;
}

.twitter ion-icon{
    color: #0652DD;
}

.github ion-icon{
    color: #000;
}

.telegram ion-icon{
    color: #1B1464;
}

.icons a{
    text-decoration: none;
    color: #000;
}

.icons a:hover,
.icons a:active{
    border-bottom: 1px solid #000;
    padding: 5px;
}
